#tab{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  } 
  
  #tab td, #tab th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    border-radius: 20pt;
  }
  
  #tab tr:hover {background-color: rgb(230, 230, 230);}
  
  #tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    
    background-color: #000000;
    color: white;
    
    
  }
#btn{
  background-color: black;
  color: white;
  border-radius: 20pt;
  padding: 10pt;

}
