server:
  port: 8081
  
spring:
  application:
    name: Zuul-Api-Gateway
    
eureka:
  instance:
    hostname: localhost
  client:    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    instance:
      preferIpAddress: true      

zuul:
  routes:
      flight-service:
        path: /flight-service/flights/**
        service-id: flight-servic
        strip-prefix: true