
  h3{
    position:relative; left:320px; top:10px;
  }
  #det{
    position:relative; left:600px; top:-25px;
  }
  form{
    padding: 1px;
    text-align: center;
    border-radius: 30pt;
    width: 40%;
    position:absolute; left:400px; top:140px;
}
input{
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    border-radius: 10pt;
    width: 40%;
}
button{
    position: absolute;top: 20px;
    color: white;
    background-color: black;
    padding: 5px;
    position:absolute; right:200px; top:220px;
}
h4{
    border: 1px solid rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
    border-radius: 10pt;
    width: 10%;
}
#org{
    position:absolute; right:800px; top:100px;
}
#des{position:absolute; right:800px; top:160px; }
#dat{position:absolute; right:800px; top:220px; }
#prc{position:absolute; right:800px; top:280px; }
select{
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  border-radius: 4pt;
  width: 20%;
}

input.ng-valid,select.ng-valid{
  border-left: 7px solid green;
}

input.ng-invalid,select.ng-invalid{
  border: 1px solid red;
}

